@import 'var.scss';

.About {
  width: 90%;
  position: relative;
  margin: auto;

  background-color: white;
}
.aboutbanner {
  margin: auto;
  height: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
}
.aboutbanner:before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(../assets/BannerBackground2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 223px;
  border-radius: 25px;
}
.aboutelements {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}
.aboutelement {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: 30px auto 0 auto;
  background-color: $primary-color;
  color: white;
  padding: 0 20px;
  font-size: 22px;
  border-radius: 5px;
  position: relative;
}
.aboutelement__button {
  background-color: inherit;
  border: 0;
  transition: transform 1s ease;
}
.aboutelement__button:hover {
  cursor: pointer;
}
.activebutton {
  transform: rotate(-180deg);
}

//* Collapse

.foo {
  height: 0px;
  overflow: hidden;
  width: 100%;
  transition: height 1s ease-in-out;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.bar {
  height: 100px;
  background-color: #f6f6f6;
  width: 80%;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}
.aboutelement__text {
  position: absolute;
  top: -100px;
  transition:
    top 1s ease-in-out,
    bottom 1s ease-in-out;
  color: $primary-color;
  height: 0;
}
.visible {
  top: 0;
  display: block;
}
