@import 'var';

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  &__title {
    font-size: 288px;
    margin: 139px auto;
  }
  &__new {
    font-size: 36px;
  }
  &__home {
    font-size: 18px;
    text-decoration: underline;
    color: $primary-color;
  }
  @media screen and (max-width: 768px) {
    &__title {
      margin: 113px auto;
      font-size: 96px;
    }
    &__new {
      margin: 0 0 113px 0;
      font-size: 18px;
      text-align: center;
    }
    &__home {
      font-size: 14px;
      margin: 0 0 113px 0;
    }
  }
}
