@import 'var';

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  &__title {
    font-size: 288px;
    margin: 139px auto;
  }
  &__new {
    font-size: 36px;
  }
  &__home {
    font-size: 18px;
    text-decoration: underline;
    color: $primary-color;
  }
}
