@import 'var';

.footer {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  &__logo {
    margin-top: 60px;
    filter: brightness(400%);
    width: 125px;
    height: 39px;
    margin-bottom: 20px;
  }
  &__right {
    color: white;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 0px;
    &__right {
      margin-bottom: 60px;
      margin-top: -10px;
      font-size: 12px;
      width: 100px;
    }
  }
}
